<a routerLink="novo" class="btn btn-primary left">Novo</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Senha</th>
            <th scope="col">Tipo</th>
            <th scope="col">Data cadastro</th>
        </tr>    
    </thead>

    <tbody>
        <tr *ngFor="let usu of usu$">
            <th>{{usu.id}}</th>
            <th>{{usu.nome}}</th>
            <th>{{usu.email}}</th>
            <th>{{usu.senha}}</th>
            <th>{{usu.tipo}}</th>
            <th>{{usu.data_cadastro | date: 'dd/MM/yyyy HH:mm'}}</th>
            <th>
                <a (click)="update(usu.id)"  class="btn btn-primary">Editar</a>&nbsp;
                <a (click)="delete(usu.id)" class="btn btn-danger">Excluir</a>                
            </th>
        </tr>
    </tbody>
</table>