<a routerLink="novo" class="btn btn-primary left">Novo</a>

<table class="table">

    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Categoria Pai</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let cat of cat$">
            <th>{{cat.id}}</th>
            <th>{{cat.nome}}</th>
            <th>{{cat.categoria_pai?.nome}}</th>
            <th>
                <a (click)="update(cat.id)"  class="btn btn-primary">Editar</a>&nbsp;
                <a (click)="delete(cat.id)" class="btn btn-danger">Excluir</a>                
            </th>
        </tr>
    </tbody>

</table>
