<a routerLink="/usuarios" class="btn btn-primary left">Voltar</a>

<form class="form" [formGroup]="form">

    <div class="mb-3">        
        <label for="id">ID</label>
        <input id="id" type="text" class="form-control" placeholder="ID" [formControl]="form.controls.id" readonly>
    </div>

    <div class="mb-3">
        <label for="nome">Nome</label>
        <input id="nome" type="text" class="form-control" placeholder="Nome" [formControl]="form.controls.nome">
    </div>

    <div class="mb-3">
        <label for="email">E-mail</label>
        <input id="email" type="email" class="form-control" placeholder="E-mail" [formControl]="form.controls.email">
    </div>

    <div class="mb-3">
        <label for="senha">Senha</label>
        <input id="senha" type="password" class="form-control" placeholder="Senha" [formControl]="form.controls.senha">
    </div>

    <div class="mb-3">
        <label for="tipo">Tipo</label>
        <select [formControl]="form.controls.tipo" class="form-select">
            <option value="admin">Admin</option>
            <option value="autor">Autor</option>
        </select>
    </div>

    <br>

    <div class="clearfix"></div>

    <div class="container-fluid d-flex justify-contend-end">        
        <button class="btn btn-primary float-right" (click)="salvar()">Salvar</button>
    </div>


</form>