<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
  <div class="col-lg-6 px-0">
    <h1 class="display-4 fst-italic">Sobre</h1>
    <p class="lead my-3">
      Esta é uma página de notícias para o trabalho das disciplinas
      <b>Padrões de Projeto, Frameworks e APIs</b> e
      <b>Tecnologias para Internet</b>
    </p>
  </div>
</div>

<div class="row mb-2">
  <div class="col-md-6" *ngFor="let not of not$">
    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative noticias"
    >
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success-emphasis">{{
          not.categoria.nome
        }}</strong>
        <h3 class="mb-0">{{ not.titulo }}</h3>
        <div class="mb-1 text-body-secondary">
          {{ not.data_publicacao | date : "dd/MM/yyyy HH:mm" }}
        </div>
        <p class="card-text mb-auto">{{ not.conteudo }}</p>
        <a
          class="icon-link gap-1 icon-link-hover stretched-link btn btn-link"
          (click)="abrirNoticia(not.id)"
        >
          Continue lendo
          <svg class="bi"><use xlink:href="#chevron-right" /></svg>
        </a>
      </div>
    </div>
  </div>
</div>
