<a routerLink="novo" class="btn btn-primary left">Novo</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Título</th>
            <th scope="col">Conteúdo</th>
            <th scope="col">Usuário</th>
            <th scope="col">Categoria</th>
            <th scope="col">Data de publicação</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let not of not$">
            <th>{{not.id}}</th>
            <th>{{not.titulo}}</th>
            <th>{{not.conteudo}}</th>
            <th>{{not.usuario.nome}}</th>
            <th>{{not.categoria.nome}}</th>
            <th>{{not.data_publicacao | date: 'dd/MM/yyyy HH:mm'}}</th>
            <th>
                <a (click)="update(not.id)"  class="btn btn-primary">Editar</a>&nbsp;
                <a (click)="delete(not.id)" class="btn btn-danger">Excluir</a>                
            </th>
        </tr>
    </tbody>
</table>