<a routerLink="/noticias" class="btn btn-primary left">Voltar</a>

<form class="form" [formGroup]="form">

    <div class="mb-3">        
        <label for="id">ID</label>
        <input id="id" type="number" class="form-control" placeholder="ID" [formControl]="form.controls.id" readonly>
    </div>

    <div class="mb-3">
        <label for="titulo">Título</label>
        <input id="titulo" type="text" class="form-control" placeholder="Título" [formControl]="form.controls.titulo">
    </div>

    <div class="mb-3">
        <label for="conteudo">Conteúdo</label>
        <textarea id="conteudo" class="form-control" placeholder="Conteúdo" style="height: 100px" [formControl]="form.controls.conteudo"></textarea>
    </div>

    <div class="mb-3">
        <label for="autor">Autor</label>
        <select [formControl]="form.controls.usuario" class="form-select">
            <option *ngFor="let usu of usu$" value="{{usu.id}}">
                {{usu.nome}}
            </option>
        </select>
    </div>

    <div class="mb-3">
        <label for="categoria">Categoria</label>
        <select [formControl]="form.controls.categoria" class="form-select">
            <option *ngFor="let cat of cat$" value="{{cat.id}}">
                {{cat.nome}}
            </option>
        </select>
    </div>

    <br>

    <div class="clearfix"></div>

    <div class="container-fluid d-flex justify-contend-end">        
        <button class="btn btn-primary float-right" (click)="salvar()">Salvar</button>
    </div>


</form>